@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,600;1,75..100,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: right;
  background: url("./Components/Assets/backgroung.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 748px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
